.p-button {
  background: #52bdcc !important;
  border: 0;
  padding: 15px !important;
  color: #fff !important;
  border-radius: 4px !important;
}
.p-datatable-thead > tr {
  border: 2px solid #d2dce0;
}
.p-datatable-thead > tr > th {
  background: #fff !important;
  color: #70819d !important;
}

.p-datatable-tbody > tr > td {
  background: #fff !important;
  color: #70819d !important;
  border-bottom: 1px solid #e4ebee !important;
}
.p-paginator {
  padding-top: 30px;
  background: #fff !important;
}

.p-paginator-page.p-paginator-page-selected {
  background-color: #52bdcc !important;
  border-radius: 4px;
}

.search-input {
  border-radius: 4px;
  border: 1px solid #d8d8d8 !important;
  color: #70819d !important;
}

.filter-search {
  color: #70819d !important;
}
.p-select {
  background: #fff !important;
  border: 1px solid #d8d8d8;
}
.p-select-overlay {
  background-color: #fff !important;
  color: #70819d !important;
}
.status {
  border-radius: 4px;
  width: 85px;
  padding: 5px 0;
  text-align: center;
  &.Active {
    background: #e7f5ea;
    color: #1eb05b;
  }
  &.Inactive {
    background: #fdf2e5;
    color: #bf7a1f;
  }
}
.p-select-option,
.p-select-label {
  color: #70819d !important;
}
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background: #fff !important;
}
.p-paginator-page,
.p-paginator-next,
.p-paginator-prev,
.p-paginator-first,
.p-paginator-last {
  border: 1px solid #d2dce0 !important;
  border-radius: 4px !important;
  &:hover {
    background: #52bdcc !important;
  }
}
