<div class="d-flex justify-content-end py-3 mt-3">
  <p-button aria-label="Add Service">
    <span>Add Service</span>
    <i class="pi pi-plus" aria-hidden="true"></i>
  </p-button>
</div>

<div
  class="d-flex align-items-center mb-4 justify-content-lg-between row px-lg-0 pe-2 w-100"
  role="region"
  aria-labelledby="search-filters-section"
>
  <div class="col-lg-3">
    <div class="d-flex align-items-center w-50 filter-search">
      <span class="me-2" id="search-filters-section">Search Filters</span>
      <i class="pi pi-filter" aria-hidden="true"></i>
    </div>
  </div>

  <div class="col-lg-4 mt-4 mt-lg-0">
    <p-iconfield class="w-100">
      <input
        [formControl]="searchControl"
        pInputText
        placeholder="Search by service name or code"
        class="search-input w-100 bg-white px-3 py-2"
        aria-label="Search by service name or code"
      />
      <p-inputicon class="pi pi-search" aria-hidden="true"></p-inputicon>
    </p-iconfield>
  </div>

  <div class="col-lg mt-4 mt-lg-0">
    <p-select
      (onChange)="onStatusChange($event.value)"
      class="w-100"
      [options]="statuses"
      placeholder="Status"
      aria-label="Select service status"
    />
  </div>

  <div class="col-lg">
    <div class="ms-lg-4 mt-4 mt-lg-0 w-100">
      <p-select
        [options]="['Service Type']"
        placeholder="Select Price Type"
        class="w-100"
        aria-label="Select service price type"
      />
    </div>
  </div>
</div>

<app-table
  [services]="services"
  [filteredServices]="filteredServices"
  aria-labelledby="services-table"
></app-table>
