@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "WorkSans";
  src: url("../../fonts/WorkSans-Medium.otf");
}
h1,
h2 {
  font-family: "Gilroy" !important;
}
h3,
h4,
h5,
h6,
p,
span {
  font-family: "WorkSans" !important;
}
